

.css-dip3t8 {
    background-color: #013579 !important;
}


.sidebar-main-container{
    display: flex;
}

.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}

.first-menu-item {
    background-color: 013579;
    color: white;
}


