.dashboard-content-container{
    /* overflow: hidden; */
    /* height: calc(100vh - 51px);
    background-color: #f5f5f5; */
}
/* .top-bar-card{
    height: 51px;
} */

.main{
    overflow-x: hidden;
}